Repository zeroledger/contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: forge fmt, solhint --fix --noPrompt, prettier --write, eslint . --fix

.lintstagedrc.json:

{
    "src/**/*.sol": [
        "forge fmt",
        "solhint --fix --noPrompt"
    ],
    "test/**/*.sol": [
        "forge fmt",
        "solhint --fix --noPrompt"
    ],
    "integration/**/*.ts": [
        "prettier --write",
        "eslint . --fix"
    ],
    "deployment-lock.json": "prettier --write"
}

createx deployments
  hardhat.config.ts
  package.json
Due: none

max tvl
  hardhat.config.ts
  integration/vault/vault.test.utils.ts
  src/Forwarder.sol
  src/ProtocolManager.sol
  src/Vault.sol
  test/Vault.deposit.t.sol
  test/VaultTest.util.sol
Due: forge fmt, solhint --fix --noPrompt, prettier --write, eslint . --fix

draft implementation
  ignition/deployments/chain-84532/deployed_addresses.json
  src/Administrator.sol
  src/Forwarder.sol
  src/ProtocolManager.sol
  src/Roles.lib.sol
  src/Vault.sol
  test/VaultTest.util.sol
Due: forge fmt, solhint --fix --noPrompt

adjust tests
  ignition/modules/Administrator.module.ts
  ignition/modules/Proxy.module.ts
  integration/vault/vault.test.utils.ts
  scripts/deploy.ts
  src/Administrator.sol
  test/VaultTest.util.sol
Due: forge fmt, solhint --fix --noPrompt, prettier --write, eslint . --fix

deployment
  .env.example
Due: none

add configs for base network
  hardhat.config.ts
Due: none

config
  .env.example
  hardhat.config.ts
Due: none

fix integration tests
  hardhat.config.ts
Due: none

prepare deployment script
  scripts/deploy.ts
Due: none

update abi
  abi/ERC2771ForwarderUpgradeable.json
  abi/IProtocolEvents.json
  abi/IVaultEvents.json
  abi/ProtocolManager.json
  abi/Vault.json
Due: none

forking
  .env.example
  abi/Administrator.json
  hardhat.config.ts
  ignition/deployments/chain-84532/deployed_addresses.json
  package.json
Due: none

fix ci
  hardhat.config.ts
Due: none

move forking out of dev repo
  hardhat.config.ts
  package.json
Due: none

enable hisky
  .husky/pre-commit
  package.json
Due: none

Feat/updates (#2)
  .env.example
  .husky/pre-commit
  abi/Administrator.json
  abi/ERC2771ForwarderUpgradeable.json
  abi/IProtocolEvents.json
  abi/IVaultEvents.json
  abi/ProtocolManager.json
  abi/Vault.json
  hardhat.config.ts
  ignition/deployments/chain-84532/deployed_addresses.json
  ignition/modules/Administrator.module.ts
  ignition/modules/Proxy.module.ts
  integration/vault/vault.test.utils.ts
  package.json
  scripts/deploy.ts
  src/Administrator.sol
  src/Forwarder.sol
  src/ProtocolManager.sol
  src/Roles.lib.sol
  src/Vault.sol
  test/Vault.deposit.t.sol
  test/VaultTest.util.sol
Due: forge fmt, solhint --fix --noPrompt, prettier --write, eslint . --fix

draft
  hardhat.config.ts
  ignition/modules/Administrator.module.ts
  ignition/modules/Forwarder.module.ts
  ignition/modules/ProtocolManager.module.ts
  ignition/modules/Vault.module.ts
  package.json
  scripts/deploy.ts
  src/Vault.sol
Due: forge fmt, solhint --fix --noPrompt

finilize ingition scripts
  ignition/deployments/chain-84532/deployed_addresses.json
  ignition/modules/Proxy.module.ts
  ignition/modules/Vault.module.ts
Due: none

Fear/create2 (#3)
  hardhat.config.ts
  ignition/deployments/chain-84532/deployed_addresses.json
  ignition/modules/Administrator.module.ts
  ignition/modules/Forwarder.module.ts
  ignition/modules/ProtocolManager.module.ts
  ignition/modules/Proxy.module.ts
  ignition/modules/Vault.module.ts
  package.json
  scripts/deploy.ts
  src/Vault.sol
Due: forge fmt, solhint --fix --noPrompt

maxTVL via config
  ignition/modules/Proxy.module.ts
  integration/vault/vault.test.utils.ts
  scripts/deploy.ts
  src/ProtocolManager.sol
  src/ProtocolManager.types.sol
  test/Vault.deposit.t.sol
  test/VaultTest.util.sol
Due: forge fmt, solhint --fix --noPrompt, prettier --write, eslint . --fix

refactor protocol manager
  src/ProtocolManager.sol
Due: forge fmt, solhint --fix --noPrompt

ignore local
  .env.example
  .gitignore
Due: none

mock deploy on t
  .env.example
  hardhat.config.ts
  ignition/deployments/chain-84532/deployed_addresses.json
  ignition/modules/Proxy.module.ts
  ignition/modules/Verifiers.module.ts
Due: none

update abi
  abi/ProtocolManager.json
Due: none

draft
  integration/vault/vault.test.utils.ts
  integration/vault/withdraw.vault.test.ts
  src/ProtocolManager.sol
  src/Vault.sol
  src/Vault.types.sol
  test/Runner.t.sol
  test/Vault.deposit.t.sol
  test/Vault.spend11.t.sol
  test/Vault.withdraw.t.sol
Due: forge fmt, solhint --fix --noPrompt, prettier --write, eslint . --fix

draft spendAndCall method
  integration/vault/vault.test.utils.ts
  src/Inputs.lib.sol
  src/Vault.sol
  src/Vault.types.sol
  test/Runner.t.sol
  test/Vault.base.t.sol
  test/Vault.deposit.t.sol
  test/Vault.spend11.t.sol
  test/Vault.withdraw.t.sol
Due: forge fmt, solhint --fix --noPrompt, prettier --write, eslint . --fix

prepare fresh deploy
  ignition/deployments/chain-84532/deployed_addresses.json
Due: none

udate abi
  abi/ICommitmentsRecipient.json
  abi/IVault.json
  abi/IVaultEvents.json
Due: none

types
  integration/vault/deposit.vault.test.ts
  integration/vault/vault.test.utils.ts
Due: prettier --write, eslint . --fix

update abi & types
  abi/IVault.json
  abi/IVaultEvents.json
  abi/Vault.json
  src/Vault.types.sol
Due: forge fmt, solhint --fix --noPrompt

new deployment
  ignition/deployments/chain-84532/deployed_addresses.json
  scripts/deploy.ts
Due: none

update readme
  LICENSE
  README.md
Due: none

Feat/refactoring (#4)
  LICENSE
  README.md
  abi/ICommitmentsRecipient.json
  abi/IVault.json
  abi/IVaultEvents.json
  ignition/deployments/chain-84532/deployed_addresses.json
  integration/vault/deposit.vault.test.ts
  integration/vault/vault.test.utils.ts
  integration/vault/withdraw.vault.test.ts
  scripts/deploy.ts
  src/Inputs.lib.sol
  src/ProtocolManager.sol
  src/Vault.sol
  src/Vault.types.sol
  test/Vault.base.t.sol
  test/Vault.deposit.t.sol
  test/Vault.spend11.t.sol
  test/Vault.withdraw.t.sol
Due: forge fmt, solhint --fix --noPrompt, prettier --write, eslint . --fix

draft transfer implementation
  src/Administrator.sol
  src/Vault.sol
  src/Vault.types.sol
Due: forge fmt, solhint --fix --noPrompt

fix contract size
  src/Vault.sol
  src/Vault.types.sol
Due: forge fmt, solhint --fix --noPrompt

fix tests
  integration/vault/deposit.vault.test.ts
  integration/vault/withdraw.vault.test.ts
  test/Vault.deposit.t.sol
  test/Vault.withdraw.t.sol
Due: forge fmt, solhint --fix --noPrompt, prettier --write, eslint . --fix

full redeploy
  .env.example
  README.md
  ignition/deployments/chain-84532/deployed_addresses.json
  scripts/deploy.ts
Due: none

deploy verified contracts
  .env.example
  hardhat.config.ts
  ignition/deployments/chain-84532/deployed_addresses.json
  scripts/deploy.ts
Due: none

draft transfer implementation (#5)
  README.md
  hardhat.config.ts
  ignition/deployments/chain-84532/deployed_addresses.json
  integration/vault/deposit.vault.test.ts
  integration/vault/withdraw.vault.test.ts
  scripts/deploy.ts
  src/Administrator.sol
  src/Vault.sol
  src/Vault.types.sol
  test/Vault.deposit.t.sol
  test/Vault.withdraw.t.sol
Due: forge fmt, solhint --fix --noPrompt, prettier --write, eslint . --fix

update readme & abi
  README.md
  abi/IVault.json
  abi/IVaultEvents.json
  abi/Vault.json
Due: none

small optimisations
  integration/vault/deposit.vault.test.ts
  integration/vault/withdraw.vault.test.ts
  src/Vault.sol
  src/Vault.types.sol
  test/Vault.deposit.t.sol
  test/Vault.spend11.t.sol
  test/Vault.withdraw.t.sol
  test/VaultTest.util.sol
Due: forge fmt, solhint --fix --noPrompt, prettier --write, eslint . --fix
