Repository zeroledger/contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: forge fmt, solhint --fix --noPrompt, prettier --write, eslint . --fix

.lintstagedrc.json:

{
    "src/**/*.sol": [
        "forge fmt",
        "solhint --fix --noPrompt"
    ],
    "test/**/*.sol": [
        "forge fmt",
        "solhint --fix --noPrompt"
    ],
    "integration/**/*.ts": [
        "prettier --write",
        "eslint . --fix"
    ],
    "deployment-lock.json": "prettier --write"
}

deploy
  ignition/deployments/chain-84532/deployed_addresses.json
Due: none

update abi
  abi/IVaultErrors.json
  abi/Vault.json
Due: none

Feat/optimization (#6)
  abi/IVaultErrors.json
  abi/Vault.json
  ignition/deployments/chain-84532/deployed_addresses.json
  integration/vault/deposit.vault.test.ts
  integration/vault/withdraw.vault.test.ts
  src/Vault.sol
  src/Vault.types.sol
  test/Vault.deposit.t.sol
  test/Vault.spend11.t.sol
  test/Vault.withdraw.t.sol
  test/VaultTest.util.sol
Due: forge fmt, solhint --fix --noPrompt, prettier --write, eslint . --fix

invoicing via createX and create2
  src/Invoice.sol
Due: forge fmt, solhint --fix --noPrompt

update
  ignition/modules/InvoiceFactory.module.ts
  package.json
  src/Invoice.sol
  src/InvoiceFactory.sol
  test/Invoice.t.sol
Due: forge fmt, solhint --fix --noPrompt

update deployment
  hardhat.config.ts
  ignition/deployments/chain-84532/deployed_addresses.json
  ignition/modules/Main.module.ts
  integration/vault/vault.test.utils.ts
  package.json
  scripts/deploy.ts
  src/invoice/Invoice.lib.sol
  src/invoice/Invoice.sol
  src/invoice/InvoiceFactory.sol
  test/Invoice.t.sol
Due: forge fmt, solhint --fix --noPrompt, prettier --write, eslint . --fix

Feat/invoice-factory (#7)
  hardhat.config.ts
  ignition/deployments/chain-84532/deployed_addresses.json
  ignition/modules/InvoiceFactory.module.ts
  ignition/modules/Main.module.ts
  integration/vault/vault.test.utils.ts
  package.json
  scripts/deploy.ts
  src/invoice/Invoice.lib.sol
  src/invoice/Invoice.sol
  src/invoice/InvoiceFactory.sol
  test/Invoice.t.sol
Due: forge fmt, solhint --fix --noPrompt, prettier --write, eslint . --fix

add invoice factory abi
  abi/InvoiceFactory.json
  hardhat.config.ts
Due: none

initialize proxies only via InvoiceFactory
  abi/Invoice.json
  abi/InvoiceFactory.json
  hardhat.config.ts
  ignition/deployments/chain-84532/deployed_addresses.json
  src/invoice/Invoice.sol
  src/invoice/InvoiceFactory.sol
  test/Invoice.t.sol
  test/mocks/MaliciousFactory.sol
Due: forge fmt, solhint --fix --noPrompt

fix deposit logic to support invoicing
  integration/vault/deposit.vault.test.ts
  integration/vault/vault.test.utils.ts
  src/Vault.sol
  src/invoice/Invoice.sol
  test/Invoice.t.sol
  test/Vault.deposit.t.sol
  test/Vault.spend11.t.sol
  test/VaultTest.util.sol
Due: forge fmt, solhint --fix --noPrompt, prettier --write, eslint . --fix

upgrade
  .github/workflows/quality-gate.yml
  README.md
  hardhat.config.ts
  ignition/deployments/chain-84532/deployed_addresses.json
  package.json
  src/Vault.sol
Due: forge fmt, solhint --fix --noPrompt

Change copyright year to 2025 and update holder
  LICENSE
Due: none

draft spend events
  eslint.config.js
  integration/vault/vault.test.utils.ts
  integration/vault/withdraw.vault.test.ts
  src/Vault.sol
  src/Vault.types.sol
  test/Vault.spend11.t.sol
  test/Vault.withdraw.t.sol
Due: forge fmt, solhint --fix --noPrompt, prettier --write, eslint . --fix

format
  src/Vault.sol
Due: forge fmt, solhint --fix --noPrompt

make events optional
  .solhint.json
  integration/vault/vault.test.utils.ts
  src/Vault.sol
  src/Vault.types.sol
  test/Vault.spend11.t.sol
Due: forge fmt, solhint --fix --noPrompt, prettier --write, eslint . --fix

make silent events optional
  abi/ICommitmentsRecipient.json
  abi/IVault.json
  abi/IVaultErrors.json
  abi/IVaultEvents.json
  abi/Vault.json
  integration/vault/spend12.vault.test.ts
  integration/vault/vault.test.utils.ts
  src/Vault.sol
  src/Vault.types.sol
  test/Vault.spend11.t.sol
Due: forge fmt, solhint --fix --noPrompt, prettier --write, eslint . --fix

update
  hardhat.config.ts
  ignition/deployments/chain-84532/deployed_addresses.json
  ignition/modules/MockERC20.module.ts
  scripts/deploy.ts
Due: none

Feat/send events (#8)
  .solhint.json
  abi/ICommitmentsRecipient.json
  abi/IVault.json
  abi/IVaultErrors.json
  abi/IVaultEvents.json
  abi/Vault.json
  eslint.config.js
  hardhat.config.ts
  ignition/deployments/chain-84532/deployed_addresses.json
  ignition/modules/MockERC20.module.ts
  integration/vault/spend12.vault.test.ts
  integration/vault/vault.test.utils.ts
  integration/vault/withdraw.vault.test.ts
  scripts/deploy.ts
  src/Vault.sol
  src/Vault.types.sol
  test/Vault.spend11.t.sol
  test/Vault.withdraw.t.sol
Due: forge fmt, solhint --fix --noPrompt, prettier --write, eslint . --fix

sync with submodules
  .gitignore
Due: none
