Repository zeroledger/contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: forge fmt, solhint --fix --noPrompt, prettier --write

.lintstagedrc.json:

{
  "src/**/*.sol": [
    "forge fmt",
    "solhint --fix --noPrompt"
  ],
  "test/**/*.sol": [
    "forge fmt",
    "solhint --fix --noPrompt"
  ],
  "integration/**/*.js": "prettier --write",
  "deployment-lock.json": "prettier --write"
}

draft
  .devcontainer/devcontainer.json
  .editorconfig
  .env.example
  .github/workflows/quality-gate.yml
  .gitignore
  .gitmodules
  .solhint.json
  abi/ERC2771Forwarder.json
  abi/MockERC20.json
  abi/Vault.json
  deployment-lock.json
  deployment.config.js
  deployment.config.ts
  eslint.config.js
  foundry.lock
  hardhat.config.js
  hardhat.config.ts
  integration/prove.helper.ts
  integration/vault/deposit.vault.test.ts
  integration/vault/spend12.vault.test.ts
  integration/vault/vault.test.utils.ts
  integration/vault/withdraw.vault.test.ts
  package-lock.json
  package.json
  src/Inputs.lib.sol
  src/MockERC20.sol
  src/Vault.sol
  src/Vault.types.sol
  tsconfig.json
Due: forge fmt, solhint --fix --noPrompt, prettier --write

setup
  .editorconfig
  .lintstagedrc.json
  .solhint.json
  deployment-lock.json
  deployment.config.ts
  eslint.config.js
  foundry.toml
  integration/prove.helper.ts
  integration/vault/spend12.vault.test.ts
  integration/vault/withdraw.vault.test.ts
  package-lock.json
  package.json
  remappings.txt
  slither.config.json
  src/MockERC20.sol
  src/Template.sol
  src/Vault.sol
  src/Vault.types.sol
  test/Template.t.sol
  test/Vault.t.sol
Due: forge fmt, solhint --fix --noPrompt, prettier --write

tests
  README.md
  integration/vault/vault.test.utils.ts
  package-lock.json
  package.json
  remappings.txt
  src/MockERC20.sol
  src/Vault.sol
  src/Vault.types.sol
  src/Verifiers.sol
  test/Vault.t.sol
Due: forge fmt, solhint --fix --noPrompt

ci
  .github/workflows/quality-gate.yml
  package.json
Due: none

add token for submodule
  .github/workflows/quality-gate.yml
Due: none

readme
  .github/workflows/quality-gate.yml
  README.md
  package-lock.json
  package.json
Due: none

update ci
  .github/workflows/quality-gate.yml
Due: none

add tests & update ci
  .github/workflows/quality-gate.yml
  test/Vault.t.sol
Due: forge fmt, solhint --fix --noPrompt

pipelining
  .github/workflows/quality-gate.yml
Due: none

fix ci
  .github/workflows/quality-gate.yml
Due: none

add spend verifiers
  deployment.config.ts
  src/Vault.sol
  src/Verifiers.sol
  test/Vault.t.sol
Due: forge fmt, solhint --fix --noPrompt

integrate contracts and input template
  .solhint.json
  foundry.toml
  hardhat.config.ts
  integration/vault/vault.test.utils.ts
  src/Inputs.lib.sol
  src/Vault.sol
  test/Vault.t.sol
Due: forge fmt, solhint --fix --noPrompt

small deploy
  deployment-lock.json
  deployment.config.ts
  package.json
  src/Inputs.lib.sol
  src/Vault.sol
  test/Vault.t.sol
Due: forge fmt, solhint --fix --noPrompt, prettier --write

add more circuits
  deployment-lock.json
  deployment.config.ts
  foundry.toml
  hardhat.config.ts
  integration/vault/vault.test.utils.ts
  src/Vault.sol
  src/Verifiers.sol
  test/Vault.t.sol
Due: forge fmt, solhint --fix --noPrompt, prettier --write

update abi
  abi/Vault.json
  package-lock.json
  package.json
Due: none

lock
  deployment-lock.json
Due: prettier --write

upgradable draft
  .solhintignore
  deployment.config.ts
  hardhat.config.ts
  package-lock.json
  package.json
  remappings.txt
  src/Inputs.lib.sol
  src/MockERC20.sol
  src/Roles.lib.sol
  src/Vault.sol
  test/MockVerifier.sol
  test/Vault.proxy.sol
  test/Vault.t.sol
Due: forge fmt, solhint --fix --noPrompt

integration tests
  integration/vault/deposit.vault.test.ts
  integration/vault/vault.test.utils.ts
  integration/vault/withdraw.vault.test.ts
  src/helpers/MockERC20.sol
  src/helpers/MockVerifier.sol
  src/helpers/Vault.proxy.sol
  test/Vault.t.sol
Due: forge fmt, solhint --fix --noPrompt

migrate to upgradable logic
  .openzeppelin/op-sepolia.json
  deployment-lock.json
  integration/vault/vault.test.utils.ts
  src/Vault.sol
Due: forge fmt, solhint --fix --noPrompt, prettier --write

recompute storage
  .openzeppelin/op-sepolia.json
  deployment-lock.json
  src/Vault.sol
  test/Vault.t.sol
Due: forge fmt, solhint --fix --noPrompt, prettier --write

update abi
  abi/Vault.json
  abi/VaultProxy.json
Due: none

split tests
  test/Vault.base.t.sol
  test/Vault.deposit.t.sol
  test/Vault.t.sol
  test/VaultTest.util.sol
Due: forge fmt, solhint --fix --noPrompt

deposit test
  src/Vault.types.sol
  test/Vault.deposit.t.sol
Due: forge fmt, solhint --fix --noPrompt

add deposit unit tests
  src/helpers/MockVerifier.sol
  test/Vault.base.t.sol
  test/Vault.deposit.t.sol
  test/Vault.spend11.t.sol
  test/VaultTest.util.sol
Due: forge fmt, solhint --fix --noPrompt

add events checking
  src/Vault.sol
  test/Vault.deposit.t.sol
  test/Vault.spend11.t.sol
Due: forge fmt, solhint --fix --noPrompt

add withdraw test
  test/Vault.withdraw.t.sol
  test/VaultTest.util.sol
Due: forge fmt, solhint --fix --noPrompt

deploy vault
  .openzeppelin/op-sepolia.json
  abi/IVaultEvents.json
  abi/Vault.json
  abi/VaultProxy.json
  deployment-lock.json
  src/Vault.sol
Due: forge fmt, solhint --fix --noPrompt, prettier --write

migrate verifiers
  .openzeppelin/op-sepolia.json
  deployment-lock.json
  src/Vault.sol
Due: forge fmt, solhint --fix --noPrompt, prettier --write

contracts
  src/Forwarder.sol
  src/Manager.sol
  src/Roles.lib.sol
  src/Vault.sol
  src/helpers/Vault.proxy.sol
  test/VaultTest.util.sol
  test/mocks/MockManager.sol
  test/mocks/MockVerifier.sol
Due: forge fmt, solhint --fix --noPrompt

update untegration tests
  integration/vault/vault.test.utils.ts
  src/Forwarder.sol
  src/Manager.sol
  src/helpers/Proxy.sol
Due: forge fmt, solhint --fix --noPrompt

disable proxy
  .github/workflows/quality-gate.yml
  deployment.config.ts
  package-lock.json
  package.json
  src/Vault.sol
  test/VaultTest.util.sol
Due: forge fmt, solhint --fix --noPrompt

migrate to ignition
  .gitignore
  hardhat.config.ts
  ignition/deployments/chain-31337/deployed_addresses.json
  ignition/modules/Forwarder.module.ts
  ignition/modules/InputsLib.module.ts
  ignition/modules/Manager.module.ts
  ignition/modules/MockERC20.module.ts
  ignition/modules/PoseidonT3.module.ts
  ignition/modules/Proxy.module.ts
  ignition/modules/Vault.module.ts
  ignition/modules/Verifiers.module.ts
  integration/vault/vault.test.utils.ts
  scripts/deploy.ts
  src/Forwarder.sol
  src/Manager.sol
  src/Roles.lib.sol
  src/Vault.sol
  test/VaultTest.util.sol
Due: forge fmt, solhint --fix --noPrompt

deploy to base
  .env.example
  deployment-lock.json
  deployment.config.ts
  hardhat.config.ts
  ignition/deployments/chain-31337/deployed_addresses.json
  ignition/deployments/chain-84532/deployed_addresses.json
  package.json
  scripts/deploy.ts
  scripts/security/vailt.unpause.prepare.ts
  scripts/security/vault.pause.prepare.ts
  scripts/upgrades/vault.prepare.ts
  src/Vault.sol
Due: forge fmt, solhint --fix --noPrompt, prettier --write

deploy with multisig control
  .env.example
  abi/ERC2771ForwarderUpgradeable.json
  abi/Forwarder.json
  abi/Manager.json
  abi/Vault.json
  hardhat.config.ts
  ignition/deployments/chain-84532/deployed_addresses.json
  package.json
  scripts/security/vailt.unpause.prepare.ts
  scripts/security/vault.pause.json
  scripts/security/vault.pause.prepare.ts
  scripts/security/vault.unpause.json
  scripts/upgrades/vault.prepare.ts
  src/Manager.sol
  src/Vault.sol
Due: forge fmt, solhint --fix --noPrompt

fix hh config
  hardhat.config.ts
  package-lock.json
Due: none

update deploy logic
  .github/workflows/quality-gate.yml
Due: none

v0.1.0
  package-lock.json
Due: none

full redeploy
  ignition/deployments/chain-84532/deployed_addresses.json
  src/Vault.sol
  src/helpers/MockERC20.sol
  test/Permit.util.sol
  test/Vault.deposit.t.sol
  test/VaultTest.util.sol
Due: forge fmt, solhint --fix --noPrompt

update abi
  abi/MockERC20.json
  abi/Vault.json
Due: none
